<div class="row bg-dark">
    <div class="col-md-2">
      <h1><a class="navbar-brand" href="#">TechyBlog</a></h1>
    </div>
    <div class="col-md-6">
      <ul class="menu">
          <li><a class="navbar-brand" routerLink="home" routerLinkActive="active">Home</a></li>
          <li><a class="navbar-brand" routerLink="posts" routerLinkActive="active">Posts</a></li>
          <li><i class="navbar-brand" *ngIf="_authService.loggedIn()">Welcome Back!</i></li>
      </ul>
    </div>
    <div class="col-md-4">
        <form class="form-inline">
          <button class="btn btn-outline-success  mb-5" *ngIf="!_authService.loggedIn()"
          type="button" routerLink="login" routerLinkActive="active">Login</button>
          <button class="btn btn-outline-primary  mb-5"  *ngIf="!_authService.loggedIn()"
          type="button" routerLink="register" routerLinkActive="active">SignUp</button>



          <button class="btn btn-outline-success mb-5" *ngIf="_authService.loggedIn()"
          type="button" routerLink="myposts/create" routerLinkActive="active">Create New</button>

          <button class="btn btn-outline-primary  mb-5" *ngIf="_authService.loggedIn()"
          type="button" routerLink="myposts" routerLinkActive="active">MyPosts</button>

          <button class="btn btn-outline-primary  mb-5"  *ngIf="_authService.loggedIn()"
          type="button" (click)= "_authService.logoutUser()">Logout</button>
        </form>
      </div>
  </div>
  <router-outlet></router-outlet>